@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
    color: rgb(8, 146, 170);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(240, 255, 255);
}

button {
  border: 1px solid rgb(105, 197, 255);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(61, 170, 238);
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(61, 170, 238);
  color: rgb(20, 130, 199);
  font-weight: 600;
}

input[type="text"]::active {
    border: 1px solid rgb(61, 170, 238);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: rgb(61, 170, 238);
  font-weight: 600;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}